@media (max-width: 800px) { 
*{
    font-size: 20px;
    margin: 8px;
}
.content{
    display: flex;
    flex-direction: column;
    
}
.form{
    margin: auto auto;
    align-items: center;
}
input{
    margin: auto auto;
}
.response{
    width: 100%;
    height: auto;
}
.response-content{
    white-space: pre-wrap;
    font-family: monospace;

}
}  

@media (max-width: 480px) {
*{
    align-items: center;
}

input[type="file"] {
    margin: auto auto;
    font-size: 10px; 
    padding: 5px;       
    max-width: 90%;    
  }
}