<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Analisador de e-mails</title>
</head>
<body>
    <div class="instructions">
        <h1>Avaliador de e-mails</h1>
        <p>Faça o upload de um arquivo .txt ou .pdf que contenha um e-mail para que ele seja avaliado.</p>
    </div>
    <div class="content">
        <div class="form">
            <form action="/enviararquivo" method="post" enctype="multipart/form-data" id="formArquivo">
                <div class="upload-arq">
                    <input type="file" name="arquivo" id="arquivo" accept=".txt,.pdf">
                </div>
                <div>
                    <button type="submit" onclick="exibir_resposta()">enviar</button>
                </div>
            </form>
        </div>
        <div class="response">
            <div class="response-content" id="response">
                <p>{{ dados }}</p>
            </div>
        </div>
    </div>
    
<!-- <script src="../static/js/exibir_resposta.js"></script> -->
</body>
</html>